@import "tailwindcss";

:root {
  --background: hsl(185, 41%, 84%);
  --foreground: hsl(185, 41%, 84%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(185, 41%, 84%);
    --foreground: hsl(185, 41%, 84%);
  }
}

@theme
{
  --color-main-container-color: hsl(0, 100%, 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
