@import "tailwindcss";

:root {
  --background: hsl(185, 41%, 84%);
  --foreground: hsl(185, 41%, 84%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(185, 41%, 84%);
    --foreground: hsl(185, 41%, 84%);
  }
}

@theme
{
  --color-main-container-color: hsl(0, 100%, 100%);
  --color-output-container-color: hsl(183, 100%, 15%);
  --color-label-text-color: hsl(186, 14%, 43%);
  --color-input-text-color: hsl(183, 100%, 15%);
  --color-input-field-color: hsl(189, 47%, 97%);
  --color-button-color: hsl(183, 100%, 15%);
  --color-output-color: hsl(172, 67%, 45%);
  --color-reset-text-color: hsl(183, 100%, 15%);
  --color-button-hover-color: hsl(185, 41%, 84%);
  --color-input-field-hover-color: hsl(172, 67%, 45%);

}

body {
  background: var(--background);
  color: var(--foreground);
}
